__pycache__/
*.py[cod]
*$py.class

# venv
.venv/
venv/

# titanoboa
.titanoboa_cache/

# build
build/
artifacts/
cache/
*.abi
*.bin

# testing
.pytest_cache/
.hypothesis/

# coverage
htmlcov/
.coverage
coverage.xml

# env var
.env
.env.local

# misc
.DS_Store
digest.txt

# claude
.claude/
CLAUDE.md
